{{ title }}


{{#each data}}

    <ul >
    <li>id: {{ id }}</li> 
    <li>nombre :{{ first_name }}</li> 
    <li>apellido :{{ last_name }}</li> 
    <li>dni :{{ document_number}}</li> 
    <li>pais :{{ country}}</li> 
    </ul>
 
{{/each}}
