{{ title }}

id: {{ data.id }}


  <ul>
        <li>nombre : {{ data.first_name }}</li> 
        <li>apellido : {{ data.last_name }}</li> 
        <li>dni: {{ data.document_number }}</li> 
        <li>pais: {{ data.country }}</li> 
  </ul>

